@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--blue);
}

body {
  background-color: var(--lightgrey);
}

:root {
  --teal: teal;
  --orange: rgb(253, 203, 110);
  --darkorange: rgb(255, 171, 15);
  --lightgrey: rgb(164, 164, 164);
  --white: rgb(255, 255, 255);
  --midgrey: rgb(102, 102, 102);
  --darkgrey: rgb(23, 23, 23);
  --blue: rgb(17, 58, 124);
}
