@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap');

body {
  box-sizing: border-box;
  padding: 4%;
  background-color: #f3f4f8;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* CSS for Header */

#root {
  background-color: #feffff;
}

.head {
  display: flex;
  padding: 24px 4%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.head-nav {
  display: flex;
  align-items: center;
}

.head-ul {
  display: flex;
  gap: 26px;
}

.head-li {
  list-style: none;
}

.title {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.head-a {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  color: black;
}

.light-a {
  color: #12121250;
}

.nav-a {
  text-decoration: none;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.user-icon {
  color: #0290ff;
}

/* CSS for Books */

.app-container {
  display: flex;
}
